<main>
  <section class="form-section">
    <img src="/assets/svg/Logo.svg" alt="">
     <h2>{{ title }}</h2>
     <ng-content></ng-content>
     <div class="btn-wrapper">
        <button class="btn-primary">{{ primaryBtnText }}</button>
        <div class="divider">
          <span>Or</span>
        </div>
        <button class="btn-secondary">{{ secondaryBtnText }}</button>
     </div>
  </section>
  <section class="main-section">
    <h1>You should, MoveIt!</h1>
    <img src="/assets/svg/MainIlustration.svg" alt="">
  </section>
</main>
